.menu 
  position: fixed
  h3
    font-size: 16px

.entry
  margin: 3em 0
  &:first-child
    margin-top: 0
  h2, h3
    line-height: 1.3
    font-weight: normal
  h2
    font-size: 20px
  h3
    font-size: 16px
  p
    margin: 1em 0
  .image
    display: block
    float: left
    img
      width: 75px
      margin-top: 4px
  .text
    margin-left: 85px

.span12
  border-left: 1px dotted #cccccc
  margin-left: 220px !important
  padding-left: 19px

footer
  background-color: #eeeeee
  padding: 2em 0 1em
  p
    font-size: 14px

.topbar-wrapper + .container
  margin-top: 40px
