!!! 5
%html
  %head
    %title Aggrate
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .hero-unit
        %h1 Woodworking
        %p Pulling together the latest in woodworking blogs, tweets, newsletters and more...
      = yield
